{# src/whiteLabel/BackOfficeBundle/Resources/views/Client/view.html.twig #}
{% extends "whiteLabelBackOfficeBundle::layout_accueil.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/whitelabelbackoffice/css/core/form/*.css'
    'bundles/whitelabelbackoffice/css/client/view.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-3 marginBottom40 marginTop20 paddingBottom15 hidden accueilStyleBloc" id="mainWrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding" id="bloc_title">
        <h2>Consulter un Client</h2>
        <a href="{{ path('client_update', {'clientId': client.id}) }}"
           class="btn btn-warning btn-xs container_action"
           id="action_update"
           role="button"
           data-toggle="tooltip"
           data-placement="bottom"
           data-container="body"
           title="Modifier le Client"
        >
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        {{ include('whiteLabelBackOfficeBundle:Client:inc/back.html.twig') }}
    </div>

{{ include('whiteLabelBackOfficeBundle:Client:inc/view/information.html.twig') }}
{{ include('whiteLabelBackOfficeBundle:Client:inc/view/adresse_facturation.html.twig') }}
{{ include('whiteLabelBackOfficeBundle:Client:inc/view/adresse_noteDebit.html.twig') }}
{{ include('whiteLabelBackOfficeBundle:Client:inc/view/banque.html.twig') }}

</div>
{% endblock %}
