{# src/whiteLabel/BackOfficeBundle/Resources/views/Core/header.html.twig #}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3" id="header_logo">
                <a href="{{ path('bo_dashboard') }}">
                    {% image
                        'bundles/whitelabelbackoffice/images/logo/up.jpg'
                    %}
                    <img src="{{ asset_url }}" alt="logo up" id="header_image_logo" />
                    {% endimage %}
                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textCenter" id="header_client">
                {% if app.request.attributes.get('_route_params')['clientId'] %}
                    {% set clientId = app.request.attributes.get('_route_params')['clientId'] %}
                    <a href="{{ path('lot_list', {'clientId': clientId}) }}">
                        <img src="{{ path('upload_read', {'clientId': clientId, 'uploadId': clientId, 'fileKey': 0, 'extension': clientLogoUrl, 'folderKey': 0}) }}" alt="logo client" id="header_image_logo_client" />
                    </a>
                {% endif %}
            </div>

            {% if app.user.roles is defined %}
                {% if ('ROLE_SUPER_ADMIN' in app.user.roles
                or 'ROLE_ADMIN' in app.user.roles
                or 'ROLE_COORDINATEUR' in app.user.roles
                or 'ROLE_GESTIONNAIRE' in app.user.roles
            ) and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 textRight" id="header_login">
                <span class="textBold">{{ app.user.username }}</span>
                &nbsp;
                <a href="{{ path('fos_admin_user_security_logout') }}"
                   class="btn btn-warning btn-xs"
                   role="button"
                   data-toggle="tooltip" data-placement="bottom"
                   data-container="body"
                   title="Se déconnecter"
                >
                    <i class="glyphicon glyphicon-log-out"></i>
                </a>
            </div>
            {% endif %}
            {% endif %}

        </header>
    </div>
</nav>
