{# src/whiteLabel/MainBundle/Resources/views/Security/login.html.twig #}
{% extends "whiteLabelMainBundle::layout_core.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/whitelabelmain/css/core/form/*.css'
    'bundles/whitelabelmain/css/security/login.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 marginBottom40 hidden" id="mainWrapper">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="bloc_flex">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="bloc_form_register">
        <fieldset class="accueilStyleBloc">
            <legend class="UPColor textUnderline textCenter marginBottom20">Pas encore de compte?</legend>

            <p>
                Si vous n'avez pas d'espace personnel, veuillez cliquer sur le lien ci-dessous pour en cr&eacute;er un et acc&eacute;der &agrave; votre espace personnel.
            </p>

            <div class="container_submit">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-warning">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</a>
            </div>
        </fieldset>
    </div>



    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="bloc_form_login">
        <fieldset class="accueilStyleBloc">
            <legend class="UPColor textUnderline textCenter marginBottom20">J'acc&egrave;de &agrave; mon compte</legend>

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div id="form_login">

<form>
    <div class="form-group">
        <label for="username" class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label required">Adresse e-mail</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Adresse e-mail"  class="col-xs-12 col-sm-12 col-md-7 col-lg-7" />
    </div>

    <div class="form-group">
        <label for="password" class="col-xs-12 col-sm-12 col-md-5 col-lg-5 control-label required">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" class="col-xs-12 col-sm-12 col-md-7 col-lg-7" />
    </div>

    <div class="form-group textRight" id="container_checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xs-offset-0 col-sm-offset-0 col-md-offset-5 col-lg-offset-5 form-group container_submit">
        <input type="submit" class="btn btn-warning" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

                        <div class="textRight" id="container_help">
                            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oubli&eacute;?</a>
                        </div>
                    </div>
                </form>

        </fieldset>
    </div>
</div>

</div>
{% endblock %}
