{# src/whiteLabel/MainBundle/Resources/views/Security/login.html.twig #}
{% extends "whiteLabelMainBundle::layout_core.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/whitelabelmain/css/security/login.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 hidden" id="content-wrapper">
    {{ include('whiteLabelMainBundle:Macros:error.html.twig') }}



    {#
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="bloc-franceConnect">
        <p>
            Se connecter avec FranceConnect: acc&egrave;der &agrave; tous les services en vous <br>
            connectant sur ameli.fr, impots.gouv.fr ou idn.laposte.fr
        </p>

        <a href="{{ path('web_homepage') }}">
            {% image
            'bundles/whitelabelmain/images/logo/logo_FranceConnect.png'
            %}
            <img src="{{ asset_url }}" alt="logo" class="franceConnect-logo" />
            {% endimage %}
        </a>

        <p class="franceConnect-tip">
            <a role="button"
               tabindex="0"
               data-container="body"
               data-toggle="popover"
               data-trigger="focus"
               data-placement="bottom"
               data-content="
                    <p>
                    Vous avez déjà un compte auprès d'Impots.gouv.fr, d'Ameli.fr ou de La Poste ?
                    </p>

                    <p>
                    FranceConnect est le bouton qui vous permet de vous connecter aux services publics en ligne en utilisant l'un de ces trois comptes.
                    Aucune inscription au préalable.
                    </p>

                    <p>
                    Plus besoin de mémoriser de multiples identifiants et mots de passe.
                    </p>
                "
            >
                <i class="glyphicon glyphicon-question-sign"></i>
            </a>

            Qu'est-ce que FranceConnect?
        </p>
    </div>



    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="bloc-separation">
        <fieldset>
            <legend align="center">ou</legend>
        </fieldset>
    </div>
    #}



    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginTop50" id="bloc-login">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="container-create">
        <fieldset>
            <legend>Pas encore de compte?</legend>

            <p>
                Si vous n'avez pas d'espace personnel, veuillez cliquer sur le lien ci-dessous pour en cr&eacute;er un et acc&eacute;der &agrave; votre espace personnel.
            </p>

            <div class="container-submit">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-warning">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</a>
            </div>
            <br>
        </fieldset>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="container-connect">
        <fieldset>
            <legend>J'acc&egrave;de &agrave; mon compte</legend>

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="container-login">

<form>
    <div class="form-group">
        <label for="username" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Adresse e-mail</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Adresse e-mail"  class="col-xs-12 col-sm-12 col-md-7 col-lg-7" />
    </div>

    <div class="form-group">
        <label for="password" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" class="col-xs-12 col-sm-12 col-md-7 col-lg-7" />
    </div>

    <div class="form-group container-checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>

    <div class="container-submit">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 submit-padding">
            <input type="submit" class="btn btn-warning" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </div>
</form>

                        <div class="container-help">
                            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oubli&eacute;?</a>
                        </div>
                    </div>
                </form>

        </fieldset>
    </div>
    </div>



</div>
{% endblock %}

