{# src/whiteLabel/MainBundle/Resources/views/Resetting/check_email.html.twig #}
{% extends "whiteLabelMainBundle::layout_core.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/whitelabelmain/css/resetting/common.css'
    'bundles/whitelabelmain/css/resetting/check_email.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 hidden" id="content-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="container-title">
        <h2>R&eacute;initialisation du mot de passe</h2>
    </div>

    {#
    {{ include('whiteLabelMainBundle:Macros:error.html.twig') }}
    #}

    <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': ''})|nl2br }}</p>

    <br>

    <div class="col-xs-12 col-sm-12 container-submit">
        <a href="{{ path('web_homepage') }}" class="btn btn-warning">Retour &agrave; l'accueil</a>
    </div>
</div>
{% endblock %}
