{# src/whiteLabel/BackOfficeBundle/Resources/views/Cheque/Item/inc/list/table.html.twig #}
<table cellspacing="0" id="table_cheque" class="table table-striped table-bordered big_table">
    <thead>
        <tr>
            <th class="breakWord col0">Num&eacute;ro de Ch&egrave;que</th>
            <th class="breakWord col1">R&eacute;f&eacute;rence Stock</th>
            <th class="breakWord col2">Nom de la Banque</th>
            <th class="breakWord col3">Cr&eacute;&eacute; le</th>
            <th class="breakWord col4">Statut</th>
        </tr>
    </thead>

    <tbody>
    {% if list is not empty %}
        {% for item in list %}
        <tr>
            <td class="breakWord">
                {% if '1' == item.chequeStatut and item.primeId %}
                <a href="{{ path('prime_read', {'clientId': clientId, 'primeId': item.primeId}) }}" title="link">
                    {{ item.chequeNumero }}
                    </a>
                {% else %}
                    {{ item.chequeNumero }}
                {% endif %}
            </td>
            <td class="breakWord">{{ item.stockReferenceBoite }}</td>
            <td class="breakWord">{{ item.banqueNom }}</td>
            <td class="breakWord">{{ item.dateCreation|date('d/m/Y') }} par {{ item.auteurCreation }}</td>
            <td class="breakWord textCenter">
                {% if '0' == item.chequeStatut %}
                    <button class="btn btn-xs btn-success">Disponible</button>
                {% else %}
                    <button class="btn btn-xs btn-danger">Consomm&eacute;</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th colspan="4" class="textCenter">Aucun Ch&egrave;que enregistr&eacute;.</th>
        </tr>
    {% endif %}
    </tbody>
</table>
