{# src/whiteLabel/BackOfficeBundle/Resources/views/Lot/inc/list/table.html.twig #}
<table cellspacing="0" id="table_lot" class="table table-striped table-bordered big_table">
    <thead>
        <tr>
            <th class="breakWord col0">N°</th>
            <th class="breakWord col1">Nom du fichier</th>
            <th class="breakWord col2">Date d'int&eacute;gration</th>
            <th class="breakWord col3">Montant total</th>
            <th class="breakWord col4">Nombre LC</th>
            <th class="breakWord col5">Montant LC</th>
            <th class="breakWord col6">Nombre virement</th>
            <th class="breakWord col7">Montant virement</th>
            <th class="breakWord col8">Banque</th>
            <th class="breakWord col9">Statut</th>
            <th class="breakWord col10">Action</th>
        </tr>

        {#
        {% if list is not empty %}
        <tr id="filterrow">
            <th class="with_search">N°</th>
            <th class="with_search">Nom du fichier</th>
            <th class="with_search">Date d'int&eacute;gration</th>
            <th class="with_search">Montant total</th>
            <th class="with_search">Nombre LC</th>
            <th class="with_search">Montant LC</th>
            <th class="with_search">Nombre virement</th>
            <th class="with_search">Montant virement</th>
            <th class="with_search">Banque</th>
            <th class="with_search">Statut</th>
            <th class="text-center">
                <button type="button"
                        role="button"
                        class="btn btn-danger btn-xs"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        data-container="body"
                        title="Vider les champs de recherche"
                        id="clear_search_input"
                >
                    <i class="glyphicon glyphicon-erase"></i>
                </button>
            </th>
        </tr>
        {% endif %}
        #}
    </thead>

    <tbody>
    {% if list is not empty %}
        {% for item in list %}
        <tr>
            <td>
                <a href="{{ path('lot_update', {'clientId': clientId, 'lotId': item.lotId}) }}"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   data-container="body"
                   title="Mettre à jour le Lot"
                >
                {{ item.lotNumero }}
                </a>
            </td>
            <td class="breakWord">{{ item.lotFilename }}</td>
            <td class="textCenter">{{ item.lotDateIntegration|date('d/m/Y') }}</td>
            <td>{{ item.montantTotal|number_format(2, '.', ',') }} €</td>
            <td>{{ item.countLC }}</td>
            <td>{{ item.montantLC|number_format(2, '.', ',') }} €</td>
            <td>{{ item.countAutre }}</td>
            <td>{{ item.montantAutre|number_format(2, '.', ',') }} €</td>
            <td class="breakWord">{{ item.banqueNom }}</td>
            <td>{{ item.lotStatut }}</td>

            <td class="textCenter">
                <a href="{{ path('historique_lot_list', {'clientId': clientId, 'lotId': item.lotId}) }}"
                   class="btn btn-primary btn-xs"
                   role="button"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   data-container="body"
                   title="Afficher l'historique du Lot"
                >
                    <i class="glyphicon glyphicon-time"></i>
                </a>

                <span data-toggle="modal" data-target="#modal_commentaire_{{ item.lotId }}">
                    <button type="button"
                            class="btn {{ list_commentaireData[item.lotId] ? 'btn-danger' : 'btn-primary' }} btn-xs"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            data-container="body"
                            title="Afficher les Commentaires du Lot"
                    >
                        <i class="glyphicon glyphicon-comment"></i>
                    </button>
                </span>

                {# Modal Commentaire #}
                <div class="modal fade modalBackdrop modal_commentaire" id="modal_commentaire_{{ item.lotId }}" tabindex="-1" role="dialog" data-backdrop="false">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <legend class="modal-title textCenter"><span class="legend-icon"></span>&nbsp;Lot {{ item.lotNumero }}</legend>
                            </div>
                            <div class="modal-body">
                                {% include 'whiteLabelBackOfficeBundle:Lot:inc/commentaire/modal.html.twig' with {'item': item} %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if item.lotDateStatut2 %}
                <a href="{{ path('lot_export_noteDebit', {'clientId': clientId, 'lotId': item.lotId}) }}"
                   class="btn btn-success btn-xs"
                   role="button"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   data-container="body"
                   title="Télécharger la Note de Débit"
                   target="_blank"
                >
                    <i class="glyphicon glyphicon-file"></i>
                </a>
                {% endif %}

                {% if item.lotDateStatut3 %}
                    <a href="{{ path('lot_export_BAT', {'clientId': clientId, 'lotNumero': item.lotNumero}) }}"
                       class="btn btn-danger btn-xs"
                       role="button"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-container="body"
                       title="Télécharger le BAT"
                       target="_blank"
                    >
                        <i class="glyphicon glyphicon-file"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th colspan="11" class="textCenter">Aucun Lot enregistr&eacute;.</th>
        </tr>
    {% endif %}
    </tbody>
</table>
