{# src/whiteLabel/BackOfficeBundle/Resources/views/Prime/inc/form_address/address.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-address">
    <fieldset>
        <legend class="marginTop20"><span class="legend-icon"></span>&nbsp;Adresse de facturation</legend>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.adresseFacturation) }}</div>
        <div class="form-group">
            {{ form_label(form.adresseFacturation, "Adresse", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.adresseFacturation, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.complementFacturation) }}</div>
        <div class="form-group">
            {{ form_label(form.complementFacturation, "Complément", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.complementFacturation, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.codePostalFacturation) }}</div>
        <div class="form-group">
            {{ form_label(form.codePostalFacturation, "Code Postal", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.codePostalFacturation, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.villeFacturation) }}</div>
        <div class="form-group">
            {{ form_label(form.villeFacturation, "Ville", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.villeFacturation, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </fieldset>
</div>
