{# src/whiteLabel/BackOfficeBundle/Resources/views/Cheque/Stock/list.html.twig #}
{% extends "whiteLabelBackOfficeBundle::layout_core.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/whitelabelbackoffice/css/core/list/*.css'
    'bundles/whitelabelbackoffice/css/cheque/stock/list.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 marginBottom40 marginTop50 paddingBottom15 hidden" id="mainWrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginBottom40 noPadding" id="bloc_title">
        <h2>Liste de stock Ch&egrave;que</h2>
        <a href="{{ path('chequeStock_create', {'clientId': clientId}) }}"
           class="btn btn-primary btn-xs container_action"
           id="action_create"
           role="button"
           data-toggle="tooltip"
           data-placement="bottom"
           data-container="body"
           title="Ajouter un stock Chèque"
        >
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>

{{ include('whiteLabelBackOfficeBundle:Cheque:Stock/inc/list/table.html.twig') }}

</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    'bundles/whitelabelbackoffice/js/cheque/stock/list/*.js'
    'bundles/whitelabelbackoffice/js/core/list/jquery_datatable.js'
    'bundles/whitelabelbackoffice/js/core/list/bootstrap_datatable.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
