{# src/whiteLabel/FrontOfficeBundle/Resources/views/Core/header.html.twig #}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <header>

            <div class="hidden-xs col-sm-3 col-md-3 col-lg-3" id="header_logo">
                <a href="{{ path('fo_homepage') }}">
                    {% image
                    'bundles/whitelabelfrontoffice/images/logo/up.jpg'
                    %}
                    <img src="{{ asset_url }}" alt="logo up" id="header_image_logo" />
                    {% endimage %}
                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 textCenter" id="header_client">
                {% image
                'bundles/whitelabelfrontoffice/images/logo/logo_espace.png'
                %}
                <img src="{{ asset_url }}" alt="logo client" id="header_image_logo_client" />
                {% endimage %}
            </div>

            {% if app.user.roles is defined %}
            {% if 'ROLE_MEMBER' in app.user.roles and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 textRight" id="header_login">
                    <span class="textBold">{{ app.user.username }}</span>
                    &nbsp;
                    <a href="{{ path('fos_user_security_logout') }}"
                       class="btn btn-warning btn-xs"
                       role="button"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-container="body"
                       title="Se déconnecter"
                    >
                        <i class="glyphicon glyphicon-log-out"></i>
                    </a>
                </div>
            {% endif %}
            {% endif %}

        </header>
    </div>
</nav>
