{# src/whiteLabel/FrontOfficeBundle/Resources/views/Common/menu.html.twig #}
{% block admin_menu %}
    {% set arrayPath = path|split('_') %}
    <ul id="fo_menu">
        {% if '0' == beneficiaire_id %}
            <li class="{{ ('beneficiaire' == arrayPath[0]) ? 'active' : ('fo' == arrayPath[0]) ? 'active' : '' }}">
                <a href="{{ path('beneficiaire_add', {'userId': user_id}) }}">Mon compte</a>
            </li>
        {% else %}
            <li class="{{ ('beneficiaire' == arrayPath[0]) ? 'active' : ('fo' == arrayPath[0]) ? 'active' : '' }}">
                <a href="{{ path('beneficiaire_view', {'beneficiaireId': beneficiaire_id}) }}">Mon compte</a>
            </li>
        {% endif %}

        {% if '0' != beneficiaire_id %}
            <li class="{{ ('logement' == arrayPath[0]) ? 'active' : '' }}">
                <a href="{{ path('logement_list', {'beneficiaireId': beneficiaire_id}) }}">Mon logement</a>
            </li>
            <li class="{{ ('demande' == arrayPath[0]) ? 'active' : '' }}">
                <a href="{{ path('demande_list_fo', {'beneficiaireId': beneficiaire_id}) }}">Mes demandes</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
