{# src/whiteLabel/MainBundle/Resources/views/User/inc/list/table.html.twig #}
<table cellspacing="0" id="table_user" class="table table-striped table-bordered small_table" style="background:#fff;">
    <thead>
        <tr>
            <th class="col0">N°</th>
            <th class="col1">Login</th>
            <th class="col3">Pr&eacute;nom</th>
            <th class="col2">Nom</th>
            <th class="col4">Email</th>
            <th class="col5">Etat</th>
            <th class="col6">Profil</th>
            <th class="col7">Date de derni&egrave;re connexion</th>
            <th class="col8">Actions</th>
        </tr>

        {% if list is not empty %}
        <tr id="filterrow">
            <th class="with_search">N°</th>
            <th class="with_search">Login</th>
            <th class="with_search">Pr&eacute;nom</th>
            <th class="with_search">Nom</th>
            <th class="with_search">Email</th>
            <th class="with_search">Etat</th>
            <th class="with_search">Profil</th>
            <th class="with_search">Date de derni&egrave;re connexion</th>
            <th class="text-center">
                <button type="button"
                        role="button"
                        class="btn btn-danger btn-xs"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        data-container="body"
                        title="Vider les champs de recherche"
                        id="clear_search_input"
                >
                    <i class="glyphicon glyphicon-erase"></i>
                </button>
            </th>
        </tr>
        {% endif %}
    </thead>

    <tbody>
    {% if list is not empty %}
        {% for item in list %}
            {% if 'ROLE_ADMIN' == item.roles[0] %}
                {% set role = 'Administrateur' %}
            {% elseif 'ROLE_COORDINATEUR' == item.roles[0] %}
                {% set role = 'Auditeur' %}
            {% elseif 'ROLE_GESTIONNAIRE' == item.roles[0] %}
                {% set role = 'Rénovateur' %}
            {% elseif 'ROLE_MEMBER' == item.roles[0] %}
                {% set role = 'Bénéficiaire' %}
            {% endif %}
            <tr>
                <td class="text-center">{{ item.id }}</td>
                <td>
                    <a href="{{ path('user_read', {'userId': item.id}) }}">
                        {{ item.username }}
                    </a>
                </td>
                <td>{{ item.firstname }}</td>
                <td>{{ item.lastname }}</td>
                <td>{{ item.email }}</td>
                {% if item.enabled == 0 %}
                    {% set statut = 'Inactif' ~ ' depuis le ' ~ item.dateInactif|date('d/m/Y') %}
                {% elseif 1 == item.enabled %}
                    {% set statut = 'Actif' %}
                {% endif %}
                <td>{{ statut }}</td>
                <td>{{ role }}</td>
                <td>{{ item.lastLogin|date('d/m/Y') }}</td>
                <td class="text-center">
                    {#
                   {% if 0 == item.enabled %}
                       <a href="{{ path('admin_enabled', {'userId': item.id, 'flag': 1}) }}"
                          class="btn btn-danger btn-xs"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          data-container="body"
                          title="Activer l'utilisateur"
                       >
                           <i class="glyphicon glyphicon-flag"></i>
                       </a>
                   {% elseif 1 == item.enabled %}
                       <a href="{{ path('admin_enabled', {'userId': item.id, 'flag': 0}) }}"
                          class="btn btn-success btn-xs"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          data-container="body"
                          title="Désactiver l'utilisateur"
                       >
                           <i class="glyphicon glyphicon-flag"></i>
                       </a>
                   {% endif %}
                   #}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th colspan="9" class="textCenter">Aucun Utilisateur enregistr&eacute;.</th>
        </tr>
    {% endif %}
    </tbody>
</table>
