{# src/whiteLabel/MainBundle/Resources/views/Registration/confirmed.html.twig #}
{% extends "whiteLabelMainBundle::layout_core.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/whitelabelmain/css/registration/confirmed.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 hidden" id="content-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="container-title">
        <h2>Cr&eacute;ation de compte</h2>
    </div>

    {#
    {{ include('whiteLabelMainBundle:Macros:error.html.twig') }}
    #}

    <p class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>

    <br><br>

    <div class="col-xs-12 col-sm-12 container-submit">
        <a href="{{ path('web_homepage') }}" class="btn btn-warning">Retour &agrave; l'accueil</a>
    </div>
</div>
{% endblock %}
