{# src/blackLabel/ImportBundle/Resources/views/Import/inc/form/file.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-form">
    <fieldset>
        <legend class="marginTop20"><span class="legend-icon"></span>&nbsp;A compl&eacute;ter</legend>

{{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'form_importData'}}) }}

{{ form_errors(form) }}

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 wrapper_error">{{ form_errors(form.client) }}</div>
<div class="form-group">
    {{ form_label(form.client, "Client", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 custom-select">
        {{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<ul id="custom-control_import" class="list_error"></ul>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 wrapper_error">{{ form_errors(form.file) }}</div>
<div class="form-group">
    {{ form_label(form.file, "Fichier de données:", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        {{ form_widget(form.file) }}
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-submit">
    <div class="form-group">
        {{ form_widget(form.valider, {'attr': {'class': 'col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 btn btn-success'}}) }}
    </div>
</div>

{{ form_rest(form) }}

{{ form_end(form) }}

    </fieldset>
</div>
