{# src/whiteLabel/MainBundle/Resources/views/User/read.html.twig #}
{% extends "whiteLabelMainBundle::layout_core.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/whitelabelmain/css/core/form/*.css'
    'bundles/whitelabelmain/css/user/read.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-3 marginBottom40 marginTop20 paddingBottom15 hidden accueilStyleBloc" id="mainWrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding" id="bloc_title">
        <h2>Consulter un Utilisateur</h2>
        <a href="{{ path('user_update', {'userId': user.id}) }}"
           class="btn btn-warning btn-xs container_action"
           id="action_update"
           role="button"
           data-toggle="tooltip"
           data-placement="bottom"
           data-container="body"
           title="Modifier l'utilisateur"
        >
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        {{ include('whiteLabelMainBundle:User:inc/back.html.twig') }}
    </div>

{{ include('whiteLabelMainBundle:User:inc/view/identification.html.twig') }}
{{ include('whiteLabelMainBundle:User:inc/view/profil.html.twig') }}

</div>
{% endblock %}
