{# src/whiteLabel/BackOfficeBundle/Resources/views/Prime/inc/form/adresseFacturation.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-adresseFacturation">
    <fieldset>
        <legend class="marginTop20"><span class="legend-icon"></span>&nbsp;Adresse de chantier</legend>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.adresseChantier) }}</div>
        <div class="form-group">
            {{ form_label(form.adresseChantier, "Adresse", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.adresseChantier, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.complementChantier) }}</div>
        <div class="form-group">
            {{ form_label(form.complementChantier, "Complément", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.complementChantier, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.codePostalChantier) }}</div>
        <div class="form-group">
            {{ form_label(form.codePostalChantier, "Code Postal", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.codePostalChantier, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.villeChantier) }}</div>
        <div class="form-group">
            {{ form_label(form.villeChantier, "Ville", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.villeChantier, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </fieldset>

    <hr class="bloc-limit">
</div>
