{# src/whiteLabel/BackOfficeBundle/Resources/views/Prime/inc/form/detail.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-detail">
    <fieldset>
        <legend><span class="legend-icon"></span>&nbsp;D&eacute;tails</legend>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.type) }}</div>
        <div class="form-group">
            {{ form_label(form.type, "Type", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.type) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.date) }}</div>
        <div class="form-group">
            {{ form_label(form.date, "Date d'intégration", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.index) }}</div>
        <div class="form-group">
            {{ form_label(form.index, "Référence", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.index, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.numero) }}</div>
        <div class="form-group">
            {{ form_label(form.numero, "Numéro de Chèque", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {% if prime.prenom is not empty and prime.nom is not empty %}
            {% set displayFlag1 = '' %}
            {% set displayFlag2 = 'hidden' %}
        {% else %}
            {% set displayFlag1 = 'hidden' %}
            {% set displayFlag2 = '' %}
        {% endif %}

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.prenom) }}</div>
        <div class="form-group {{ displayFlag1 }}">
            {{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.nom) }}</div>
        <div class="form-group {{ displayFlag1 }}">
            {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.siren) }}</div>
        <div class="form-group {{ displayFlag2 }}">
            {{ form_label(form.siren, "SIREN", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.siren, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.denomination) }}</div>
        <div class="form-group {{ displayFlag2 }}">
            {{ form_label(form.denomination, "Dénomination", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.denomination, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.representant) }}</div>
        <div class="form-group {{ displayFlag2 }}">
            {{ form_label(form.representant, "Représentant", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.representant, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </fieldset>

    <hr class="bloc-limit">
</div>
