{# src/whiteLabel/BackOfficeBundle/Resources/views/Lot/inc/historique/table_lot.html.twig #}
<table cellspacing="0" id="table_historique_lot" class="table table-striped table-bordered big_table">
    <thead>
    <tr>
        <th class="breakWord col0">Id</th>
        <th class="breakWord col1">Date</th>
        <th class="breakWord col2">Auteur</th>
        <th class="breakWord col3">Action</th>
        <th class="breakWord col4">&Eacute;tat de la demande</th>
    </tr>
    </thead>

    <tbody>
    {% if list is not empty %}
        {% for item in list %}
        <tr>
            <td class="breakWord">{{ item.id }}</td>
            <td class="textCenter">{{ item.dateCreation|date('d/m/Y H:i:s') }}</td>
            <td class="breakWord">{{ item.auteurCreation }}</td>
            <td class="breakWord">{{ item.action }}</td>
            <td class="breakWord">{{ item.statutSlug }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th colspan="5" class="textCenter">Aucun historique enregistr&eacute;.</th>
        </tr>
    {% endif %}
    </tbody>
</table>
