{# src/whiteLabel/BackOfficeBundle/Resources/views/Lot/inc/historique/table.html.twig #}
<table cellspacing="0" id="table_historique" class="table table-striped table-bordered big_table">
    <thead>
    <tr>
        <th class="breakWord col0">Date</th>
        <th class="breakWord col1">Action</th>
        <th class="breakWord col2">Auteur</th>
        <th class="breakWord col3">&Eacute;tat de la demande</th>
        <th class="breakWord col4">D&eacute;tail</th>
    </tr>
    </thead>

    <tbody>
    {% if list is not empty %}
        {% for item in list %}
        <tr>
            <td class="textCenter">{{ item.dateCreation|date('d/m/Y') }}</td>
            <td class="breakWord">{{ item.action }}</td>
            <td class="breakWord">{{ item.auteurCreation }}</td>
            <td class="breakWord">{{ item.statutSlug }}</td>
            <td class="breakWord">{{ item.content['blacklabel_importbundle_import_lot']|join(', ') }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th colspan="5" class="textCenter">Aucun historique enregistr&eacute;.</th>
        </tr>
    {% endif %}
    </tbody>
</table>
