{# src/whiteLabel/BackOfficeBundle/Resources/views/Client/inc/form/adresse_noteDebit.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-adresseFacturation">
    <fieldset>
        <legend class="marginTop20"><span class="legend-icon"></span>&nbsp;Adresse de note de d&eacute;bit</legend>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.client_adresseNoteDebit.destinataire) }}</div>
        <div class="form-group">
            {{ form_label(form.client_adresseNoteDebit.destinataire, "Destinataire", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_adresseNoteDebit.destinataire, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.client_adresseNoteDebit.complement1) }}</div>
        <div class="form-group">
            {{ form_label(form.client_adresseNoteDebit.complement1, "Complément 1", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_adresseNoteDebit.complement1, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.client_adresseNoteDebit.complement2) }}</div>
        <div class="form-group">
            {{ form_label(form.client_adresseNoteDebit.complement2, "Complément 2", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_adresseNoteDebit.complement2, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.client_adresseNoteDebit.adresse) }}</div>
        <div class="form-group">
            {{ form_label(form.client_adresseNoteDebit.adresse, "Adresse", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_adresseNoteDebit.adresse, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.client_adresseNoteDebit.codePostal) }}</div>
        <div class="form-group">
            {{ form_label(form.client_adresseNoteDebit.codePostal, "Code Postal", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_adresseNoteDebit.codePostal, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-error">{{ form_errors(form.client_adresseNoteDebit.ville) }}</div>
        <div class="form-group">
            {{ form_label(form.client_adresseNoteDebit.ville, "Ville", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_adresseNoteDebit.ville, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </fieldset>

    <hr class="bloc-limit">
</div>
