{# src/whiteLabel/BackOfficeBundle/Resources/views/Client/inc/form/information.html.twig #}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bloc" id="bloc-information">
    <fieldset>
        <legend class="marginTop20"><span class="legend-icon"></span>&nbsp;Information</legend>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 wrapper_error">{{ form_errors(form.client_information.nom) }}</div>
        <div class="form-group">
            {{ form_label(form.client_information.nom, "Nom", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_information.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 wrapper_error">{{ form_errors(form.client_information.interlocuteur) }}</div>
        <div class="form-group">
            {{ form_label(form.client_information.interlocuteur, "Interlocuteur", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_information.interlocuteur, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 wrapper_error">{{ form_errors(form.client_information.titreDispositif) }}</div>
        <div class="form-group">
            {{ form_label(form.client_information.titreDispositif, "Titre Dispositif", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_information.titreDispositif, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <ul id="control_logo" class="list_error"></ul>
        {{ form_errors(form.client_information.logo) }}
        <div class="form-group">
            {{ form_label(form.client_information.logo, "Logo", {'label_attr': {'class': 'col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label'}}) }}

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {{ form_widget(form.client_information.logo) }}
            </div>
        </div>

        {% if client and client.clientInformation and client.clientInformation.logoUrl %}
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-lg-offset-4">
            <p>
                {% if client and client.clientInformation and client.clientInformation.logoUrl %}
                <a href="{{ path('upload_read', {'uploadId': client.clientInformation.id, 'typeFile': 0, 'extension': client.clientInformation.logoUrl, 'typeAppel': 0}) }}" target="_blank">
                    Voir le fichier
                </a>
                {% endif %}
            </p>
        </div>
        {% endif %}

    </fieldset>

    <hr class="bloc-limit">
</div>
