<style type="text/css">
    /*******************************************
                    BLOC HEADER
    *******************************************/
    #bloc-header {
        font-size: 10px;
        width: 100%;
    }
    #bloc-header #header_logo {
        width: 70%;
        text-align: left;
    }
    #bloc-header #header_adresse {
        text-align: right;
        width: 30%;
    }

    /*******************************************
                    BLOC CLIENT
    *******************************************/
    #bloc-client {
        margin-bottom: 40px;
        margin-top: 50px;
        width: 100%;
    }
    #bloc-client #client-left {
        width: 70%;
    }
    #bloc-client #client-right {
        text-align: left;
        width: 30%;
    }

    /*******************************************
                    BLOC LOT
    *******************************************/
    #bloc-lot {
        font-size: 12px;
        width: 100%;
    }
    #bloc-lot tr td {
        width: 100%;
    }
    #bloc-lot #lot-mission {
        background: #e9661f;
        color: #fff;
        height: 25px;
    }

    /*******************************************
                    BLOC FILE
    *******************************************/
    #bloc-file {
        font-size: 12px;
        margin-top: 30px;
        width: 100%;
    }
    #bloc-file #file-number {
        background: #d3d3d3;
        width: 100%;
    }

    /*******************************************
                    BLOC DATA
    *******************************************/
    #bloc-data {
        border-collapse: collapse;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
    #bloc-data .data_col1 { width: 59.6%;}
    #bloc-data .data_col2 { width: 20%; }
    #bloc-data .data_col3 { width: 20%; }
    #bloc-data thead th {
        border: 1px solid #000;
        background: #d3d3d3;
        padding: 5px;
        font-weight: normal;
    }
    #bloc-data tbody td {
        border: 1px solid #000;
        padding: 8px 5px;
    }

    /*******************************************
                    BLOC TOTAL
    *******************************************/
    #bloc-total {
        font-size: 12px;
        margin-top: 20px;
        width: 100%;
    }
    #bloc-total .total-value {
        background: #e9661f;
        color: #fff;
    }
    #bloc-total tr td.total-left {
        height: 25px;
        padding-left: 10px;
        width: 70%;
    }
    #bloc-total tr td.total-right {
        height: 25px;
        padding-right: 10px;
        text-align: right;
        width: 30%;
    }

    /*******************************************
                    BLOC BANQUE
    *******************************************/
    #bloc-banque {
        font-size: 14px;
        margin-top: 20px;
    }

    #bloc-banque tbody tr td.label {
        width: 70px;
    }

    /*******************************************
                    BLOC FOOTER
    *******************************************/
    #bloc-footer {
        margin-top: 20px;
        width: 100%;
    }
    #bloc-footer img {
        width: 100%;
    }

    /*******************************************
                    GENERIC CSS
    *******************************************/
    .UPColor { color: #e9661f; }
    .textBold { font-weight: bold; }
    .textLeft { text-align: left; }
    .textRight { text-align: right; }
</style>



<page>
    <table id="bloc-header">
        <tr>
            <td id="header_logo">
                &nbsp;
                {#
                <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/whitelabelbackoffice/images/logo/up.jpg') }}" alt="logo_header" />
                #}
                {#
                {% image
                    'bundles/whitelabelbackoffice/images/logo/up.jpg'
                %}
                    <img src="{{ asset_url }}" alt="logo_header" />
                {% endimage %}
                #}
            </td>
            <td id="header_adresse" class="UPColor">
                01 41 85 05 05<br>
                27-29 Avenue des Louvresses<br>
                92230 Gennevilliers
            </td>
        </tr>
    </table>



    {% for item in list_canal %}
        {% if loop.first %}
        <table id="bloc-client">
            <tr>
                <td id="client-left"></td>
                <td id="client-right">
                    <span class="textBold">{{ item.clientNom }}</span><br>
                    {{ item.clientDestinataire }}<br>
                    {% if item.clientComplement is not empty %}{{ item.clientComplement }}<br>{% endif %}
                    {{ item.clientAdresse }}<br>
                    {{ item.clientCodePostal }} {{ item.clientVille|upper}}<br><br>
                    Gennevilliers, le {{ item.lotDateStatut2|localizeddate('long', 'none', 'fr-FR') }}
                </td>
            </tr>
        </table>

        <table id="bloc-lot">
            <tr>
                <td id="lot-numero" class="UPColor">NOTE DE DEBIT N° CEE-{{ item.lotNumero }}_TMF</td>
            </tr>
            <tr>
                <td id="lot-mission">Mission CEE-appel de tr&eacute;sorerie</td>
            </tr>
            <tr>
                <td id="lot-dossier">N° dossier: Compte client 11964</td>
            </tr>
        </table>

        <table id="bloc-file">
            <tr>
                <td id="file-number">1 fichier - {{ item.lotFilename }}</td>
            </tr>
            <tr>
                <td>Date r&eacute;ception des fichiers: {{ item.lotDateIntegration|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td>LOT {{ item.lotNumero }}_TMF</td>
            </tr>
        </table>
        {% endif %}
    {% endfor %}



    <table id="bloc-data">
        <thead>
            <tr>
                <th class="data_col1">Nom fichier</th>
                <th class="data_col2">Total b&eacute;n&eacute;ficiaire</th>
                <th class="data_col3">Total montant HT</th>
            </tr>
        </thead>

        <tbody>
            {% set sumBeneficiaire = 0 %}
            {% set totalHT = 0 %}

            {% for item in list_canal %}
                <tr>
                    <td class="data_col1 textLeft">{{ item.canalTitle }}</td>
                    <td class="data_col2">{{ item.nombreCommande }}</td>
                    <td class="data_col3 textRight">{{ item.totalMontant|number_format(2,',',' ') }} €</td>
                </tr>

                {% set sumBeneficiaire = sumBeneficiaire + item.nombreCommande %}
                {% set totalHT = totalHT + item.totalMontant %}
            {% endfor %}

            <tr>
                <td class="data_col1 textBold">Total</td>
                <td class="data_col2 textBold">{{ sumBeneficiaire }}</td>
                <td class="data_col3 textBold textRight">{{ totalHT|number_format(2,',',' ') }} €</td>
            </tr>
        </tbody>
    </table>



    {% set TVA_calcul = (totalHT * TVA)/100 %}
    <table id="bloc-total">
        <tr class="total-value">
            <td class="total-left">TOTAL HT</td>
            <td class="total-right">{{ totalHT|number_format(2,',',' ') }} €</td>
        </tr>
        <tr>
            <td class="total-left">TVA &agrave; {{ TVA }} %</td>
            <td class="total-right">{{ TVA_calcul|number_format(2,',',' ') }} €</td>
        </tr>
        <tr class="total-value">
            <td class="total-left">TOTAL TTC</td>
            <td class="total-right">{{ (totalHT + TVA_calcul)|number_format(2,',',' ') }} €</td>
        </tr>
    </table>



    <div id="bloc-banque">
        <p>Mode de r&egrave;glement : <span class="textBold">Virement</span></p>

        {% for item in list_canal %}
            {% if loop.first %}
            <table>
                <tbody>
                    <tr>
                        <td colspan="2"><span class="UPColor">A compter du 1er Novembre 2017, la provision pour TMF est &agrave; virer sur :</span></td>
                    </tr>
                    <tr>
                        <td class="label">Banque :</td>
                        <td>{{ item.banqueNom|upper }}</td>
                    </tr>
                    <tr>
                        <td class="label">RIB :</td>
                        <td>{{ item.banqueRib }}</td>
                    </tr>
                    <tr>
                        <td class="label">IBAN :</td>
                        <td>{{ item.banqueIban }}</td>
                    </tr>
                    <tr>
                        <td class="label">BIC :</td>
                        <td>{{ item.banqueBic|upper }}</td>
                    </tr>
                    <tr>
                        <td class="label">Titulaire :</td>
                        <td>{{ item.banqueTitulaire|upper }}</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        {% endfor %}
    </div>



    {#
    <table id="bloc-footer">
        <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/whitelabelbackoffice/images/logo/up_footer.png') }}" alt="logo_footer" />
    </table>
    #}
</page>
