{# src/whiteLabel/BackOfficeBundle/Resources/views/Lot/update.html.twig #}
{% extends "whiteLabelBackOfficeBundle::layout_core.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/whitelabelbackoffice/css/core/form/*.css'
    'bundles/whitelabelbackoffice/css/core/datepicker/*.css'
    'bundles/whitelabelbackoffice/css/lot/update.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-3 marginBottom40 marginTop50 paddingBottom15 hidden" id="mainWrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginBottom40 noPadding" id="bloc_title">
        <h2>Mettre &agrave; jour un lot: {{ lot.lotNumero }}</h2>
        {% if is_granted('ROLE_ADMIN') and 8 != lot.lotStatutId and null == lot.lotDateStatut8 %}
        <span data-toggle="modal" data-target="#popupValidation">
            <a href="#"
               class="btn btn-danger btn-xs container_action"
               id="action_update"
               role="button"
               data-toggle="tooltip"
               data-placement="bottom"
               data-container="body"
               title="Supprimer le Lot"
            >
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </span>
        {% endif %}
        {{ include('whiteLabelBackOfficeBundle:Lot:inc/back.html.twig') }}
    </div>

{{ include('whiteLabelBackOfficeBundle:Lot:inc/form/step.html.twig') }}

{% if is_granted('ROLE_ADMIN') %}
<!-- Modal -->
<div class="modal fade modalBackdrop paddingTop100" id="popupValidation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Veuillez confirmer la suppression</h4>
            </div>
            <div class="modal-body textCenter">

<form action="{{ path('lot_delete', {'clientId': clientId, 'lotId': lot.lotId}) }}" method="post">
    <p>Etes-vous certain de vouloir supprimer le Lot n°{{ lot.lotNumero }}?</p>
    <div class="bloc-submit">
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <button type="button" class="btn btn-secondary marginLeft10" data-dismiss="modal">Annuler</button>
    </div>
    {{ form_rest(form_delete) }}
</form>

            </div>
        </div>
    </div>
</div>
{% endif %}

</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts
    'bundles/whitelabelbackoffice/js/core/datepicker/*.js'
    'bundles/whitelabelbackoffice/js/lot/form/*.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
